{% extends "base.html" %}
{% block title %} Edit Tag {% endblock %}
{% block content %}

<h4>Create a Tag</h4>
    
<form id="tagform" action="/tags/{{tag.id}}/edit"  method="POST">
    <p id="firstnametag">Name</p>
    <input type="text" name="name" value="{{tag.name}}"  placeholder="Enter a tag name">
    <button class="btn-sm btn-primary" type="submit"> Submit</button>
</form>
<a class="btn btn-sm btn-warning" href="/tags/{{tag.id}}">Go back</a>

<ul id="messagecontainer"></ul>

<p>Thanks for browsing!</p>
    
</body>
</html>
{%endblock%}